@{
    Layout = "_SpotLayout";
}

@model Spot;
@using DataLayer.Models;



@using (Html.BeginForm("Edit", "SpotView", FormMethod.Post))
{
    <label> Insert Spot Name </label>
    <br>
    @Html.TextBoxFor(model => model.Name, new { @Value = Model.Name })
    <br>
    <br>
    <label> Select Spot Difficulty </label>
    @Html.DropDownListFor(model => model.Difficulty, new SelectList(new List<string> { "1", "2", "3", "4", "5" }, Model.Difficulty))



    <div class="form-group" style="padding-top:20px;padding-left:12px">
        <input type="submit" value="Confirm" class="btn btn-success" />
    </div>
}
